@font-face {
    font-family: "Comfortaa";
    src: url(./Comfortaa-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Comfortaa";
    src: url(./Comfortaa-Light.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Comfortaa";
    src: url(./Comfortaa-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Comfortaa";
    src: url(./Comfortaa-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Comfortaa";
    src: url(./Comfortaa-SemiBold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
}