@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(../fonts/fonts.css);

:root {
  --background: 0, 0, 0;
  --primary: 251, 37, 118;
  --secondary: 63, 0, 113;
  --ball: 21, 0, 80;
  --card: 255, 255, 255;
  --text: 255, 255, 255;
  --shadow-frost: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: 255, 223, 223;
    --ball: 255, 192, 217;
    --text: 0, 0, 0;
    --shadow-frost: null;
  }
}

::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  transition: background-color 10s ease;
  background-color: rgba(var(--secondary), 0.5);
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--secondary), 1);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Comfortaa", sans-serif;
  min-height: 100vh;
}

.cursor-outer.active {
  border: none;
  scale: 1.5;
  background-color: rgba(var(--primary), 0.2);
}

.cursor-inner.active {
  display: none;
}
